body{
  background: linear-gradient(
    to bottom,
    rgba(56, 94, 95, 0.6) 0,
    rgba(66, 86, 92, 0.6) 100%
  ),
  url(./background.jpg);
background-position: center;
background-repeat: repeat;
background-attachment: scroll;
background-size: cover;
height: 100vh;
}

.App {
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

li{
  margin:0 30px;
}

a {
  text-decoration: none;
  color: rgb(20, 20, 180);
  cursor: pointer;
}

a:hover{
  color: rgb(18, 67, 107);
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.products {
  margin: 130px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-gap: 1rem;
}

.product {
  min-width: 300px;
  min-height: 300px;
  border: 3px solid blue;
  border-radius: 5%;
  background-color:#fff;
}

.product-image {
  max-height: 300px;
}

.btn {
  display: block;
  background-color: blue;
  font-size: 2em;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
}

.view-button {
  background-color: red;
}

.btn-container {
  text-align: center;
}

.cart,
.create-product ,.product-preview {
  border: 3px solid blue;
  border-radius: 5%;
  padding: 20px;
  background-color: #fff;
}

.add-container ,.cart-container ,.product-preview-container{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.product-preview{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  height: 200px;
}

.create-product{
  width: 200px;
  height: 200px;
}

.cart{
  width: 150px;
  height: 150px;
}

.phone-img{
  height: 200px;
}

nav{
  background-color: #fff;
  min-height: 30px;
  padding: 10px;
  opacity: 0.8;
}
